.nav-collapse.nav-collapse_.collapse
  %ul.nav.sf-menu
    = navigation_link t('.main'), root_path
    = navigation_link t('.services'), '#'
    = navigation_link t('.categories'), categories_path, resource: :products do
      - @categories
    = navigation_link t('.contact'), feedbacks_path
